:root{
    --main-color:#fff;
    --secondary-color: #03a9f4;
    --third-color: #003147;
    --fourth-color: #000;
    --fifth-color: #848c90;

    --color-first          : #65587f;
    --color-second         : #f18867;
    --color-third          : #e85f99;
    --color-forth          : #50bda1;

    
    --bg-color: hsl(256,33,10);
    --dot-color: hsl(256,33,70);

    --dot-size: 1px;
    --dot-space: 22px;
}

::-webkit-scrollbar {
    background: #aecee9;
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #004e92; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    /* background: linear-gradient(to bottom, #000428, #004e92);  */
    /* background: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%); */
    background: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #5396b4 50%, #3eb8bd 75%, #d40c77 100%);
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to bottom right, #bc41f5 0%, #51a2f8 25%, #72a0b6 50%, #5ecfd3 75%, #eba2c9 100%);

  }



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    /* background-color: rgb(165, 81, 243); */
    /* background-color: linear-gradient(#0f2027, #203a43, #2c5364); */
    /* background: linear-gradient(to bottom, #000428, #004e92); */
    background: linear-gradient(-45deg, #0a1366, #223a37, #078f44, #2c5364);
    animation: animatedgradient 10s ease infinite;
    background-size: 400% 400%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
    margin: 50px;
    /* border: 5px solid transparent;
    border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    border-image-slice: 1; */
    
    background: #1D1F20;
    border-radius: 10px;

    
}

.container::after{
    content: '';
    position: absolute;
    top: calc(-1 * 8px);
    left: calc(-1 * 8px);
    height: calc(100% + 8px * 2);
    width: calc(100% + 8px * 2);
    background: linear-gradient(90deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    border-radius: calc(2 * 3px);
    z-index: -1;
    animation: animatedgradient 2.5s ease alternate infinite;
    background-size: 300% 300%;
}

.container .left-side{
    position: relative;
    background-color: #013048;
    padding: 40px;
    /* border-top-left-radius: 10px; */
    /* border-bottom-left-radius: 10px; */

}
.container .left-side .profile{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.container .left-side .profile .img{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}
.container .left-side .profile .img img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container .left-side .profile h2{
    color:#fff;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-top: 20px;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}
.container .left-side .profile h2 span{
    font-size: 0.7em;
    font-weight: 300;
}
.container .left-side .contact-info{
    padding-top: 40px;

}
.container .left-side .contact-info .title{
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.container .left-side .contact-info ul{
    position: relative;
}
.container .left-side .contact-info ul li{
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}
.container .left-side .contact-info ul li .icon{
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: var(--secondary-color);
}
.container .left-side .contact-info ul li span{
    color: #fff;
    font-weight: 300;
}
.container .left-side .education{
    padding-top: 40px;
}
.container .left-side .education .title{
    color:#fff;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.container .left-side .education li{
    list-style: none;
    margin-bottom: 15px;
}
.container .left-side .education h5{
    color: var(--secondary-color);
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 6px;
}
.container .left-side .education h4{
    color: #fff;
    font-size: 1em;
    font-weight: 300;
}



.container .right-side{
    position: relative;
    background-color: #fff;
    padding: 40px;
    /* border-top-right-radius: 10px;
    border-bottom-right-radius: 10px; */
}
.container .right-side .about{
    margin-bottom: 50px;
}
.container .right-side .about .profile{
    color: var(--third-color);
    text-transform: uppercase;
    letter-spacing: 1px;
}
.container .right-side .about .profile-description{
    margin-top: 20px;
}
.container .right-side .about .experience{
    margin-top: 50px;
    color: var(--third-color);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;    
}
.container .right-side .about p{
    color: var(--fourth-color);
}
.container .right-side .about .box{
    display: flex;
    /* flex-direction: row; */
    margin: 30px 0;
}
.container .right-side .about .box .project{
    min-width: 150px;
}
.container .right-side .about .box .project h4{
   text-transform: uppercase;
   padding-bottom: 5px;
   color: var(--fifth-color);
   font-weight: 600;
}
.container .right-side .about .box .project-description h4{
    text-transform: uppercase;
    color: #2a7da2;
    font-size: 1em;
}
.container .right-side .skill{
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 50px;
    color: var(--third-color);
}

.container .right-side .skill .box{
    margin-top: 20px;
    position: relative;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
    align-items: center;
}
.container .right-side .skill .box h4{
    text-transform: uppercase;
    color: var(--fifth-color);
    font-weight: 600;
}
.container .right-side .skill .box .percent{
    position: relative;
    width: 100%;
    height: 10px;
    background-color: #f0f0f0;
    border-radius: 10px;
}
.container .right-side .skill .box .percent .progress1{
    height: 100%;
    width: 70%;
    background-color: var(--fourth-color);
    top: 0;
    left: 0;
    position: absolute;
    border-radius: 10px;
}
.container .right-side .skill .box .percent .progress2{
    height: 100%;
    width: 70%;
    background-color: var(--fourth-color);
    top: 0;
    left: 0;
    position: absolute;
    border-radius: 10px;

}
.container .right-side .skill .box .percent .progress3{
    height: 100%;
    width: 40%;
    background-color: var(--fourth-color);
    top: 0;
    left: 0;
    position: absolute;
    border-radius: 10px;

}
.container .right-side .skill .box .percent .progress4{
    height: 100%;
    width: 50%;
    background-color: var(--fourth-color);
    top: 0;
    left: 0;
    position: absolute;
    border-radius: 10px;
}
.container .right-side .skill .box .percent .progress5{
    height: 100%;
    width: 60%;
    background-color: var(--fourth-color);
    top: 0;
    left: 0;
    position: absolute;
    border-radius: 10px;

}


.rainbow {
    width :  100%;
    height:  100%;
    animation: o-rotate-360 linear 8s infinite;
}
.span {
    display: block;
    width: 100%; height: 100%;
    position: relative;
    transform: translate(-50%, -50%);
}
  
.span:after {
    display: block;
    content: "";
    width: 100%; height: 100%;
    position: absolute;
    left: 100%;
}
  
.span:first-child {
                background: var(--color-first);
    
}
.span:first-child::after{
    background: var(--color-second); 
}
  
.span:last-child {
    background: var(--color-third);
}

.span:last-child::after {
    background: var(--color-forth) 
}
    

@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}










#stars-container
{
  height: 200vh;
  width: 200%;
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #191F24 100%);
  overflow: hidden;
  transform: translate(-50, -50%);
}
    
#stars
{
  width: 1px;
  height: 1px;
  background: transparent;
  /* box-shadow: $stars-small; */
  animation : animateStars 28.5s ease-in-out infinite;
  border-radius: 50%;

}

#stars::after{
    content: " ";
    position: absolute;
    margin: auto;
    top: 0; left: 0; right: 0; bottom: 0;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 5px 10px #888888;
    border-radius: 50%;
}

    
/* #stars2
{
  width: 2px;
  height: 2px;
  background: transparent;
  animation : animateStars 30s ease-in-out infinite;
  -webkit-border-radius: 50%; 
  -moz-border-radius: 50%; 
  border-radius: 50%;
}

#stars2::after{
    content: " ";
    position: absolute;
    margin: auto;
    top: 0; left: 0; right: 0; bottom: 0;
    width: 2px;
    height: 2px;
    background: transparent;
    -webkit-border-radius: 50%; 
    -moz-border-radius: 50%; 
    border-radius: 50%;
}
    
#stars3
{
  width: 3px;
  height: 3px;
  background: transparent;
  animation : animateStars 31.5s ease-in-out infinite;
  -webkit-border-radius: 50%; 
  -moz-border-radius: 50%; 
  border-radius: 50%;
    
}

#stars3::after{
    content: " ";
    position: absolute;
    margin: auto;
    top: 0; left: 0; right: 0; bottom: 0;
    width: 3px;
    height: 3px;
    background: transparent;
    -webkit-border-radius: 50%; 
    -moz-border-radius: 50%; 
    border-radius: 50%;
} */

@keyframes animateStars
{
  0%{
    transform: rotate3d(-1, 1, 0, 0deg);}
  25%{
    transform: rotate3d(-1, 1, 0, 30deg);}
  50%{
    transform: rotate3d(-1, 1, 0, 0deg);}
  75%{
    transform: rotate3d(-1, 1, 0, -30deg);}
  100%{
    transform: rotate3d(-1, 1, 0, 0deg);}
}



